<a href="https://colab.research.google.com/github/yuri-biangulo/Projetos-Iniciais-Aprendizagem-Aplicada/blob/main/Curso_Pandas_Kaggle_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
df= pd.DataFrame({'Yes': [50,21], 'No': [131,2]})
df

   Yes   No
0   50  131
1   21    2

POSSO COLOCAR ID DE PRODUTOS  colocando no index = product A e product B

In [2]:
 pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'],
               'Sue': ['Pretty good.', 'Bland.']},
              index=['Porduct A', 'Product B'])

                     Bob           Sue
Porduct A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

SERIES ( LINHA )

In [3]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
pd.Series([30,35,40], index = ['2015 Sales', '2016 Sales', '2017 Sales'], name = 'Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [16]:
fruits = pd.DataFrame({'Aplles':[30], 'Bananas':[21]} )

In [17]:
fruits

   Aplles  Bananas
0      30       21

Create a dataframe fruit_sales that matches the diagram below:

In [31]:

fruit_sales = pd.DataFrame({'Apples':[35, 41], 'Bananas':[21, 34]}, index =['2017 Sales', '2018 Sales'])
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

CREATE A VARIABLE INGREDIANTS WITH A SERIES THAT LOOKS LIKE:

In [34]:
ingredients = pd.Series(['4 cups', '1 cup', '2 large', '1 can'], index = ['Flour', 'Milk', 'Eggs', 'Spam'], name= 'Dinner' )
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

Run the cell below to create and display a DataFrame called animals:

In [41]:
animals = pd.DataFrame({'Cows': [12,20], 'Goats': [22,19]}, index=['Year 1', 'Year 2 '])
animals

         Cows  Goats
Year 1     12     22
Year 2     20     19

In the cell below, white code to sae this Data Frame to disk as a csv file with the name cows_and_goats.csv

In [42]:
animals.to_csv('cows_andgoats.csv')