<a href="https://colab.research.google.com/github/yuri-biangulo/Projetos-Iniciais-Aprendizagem-Aplicada/blob/main/PandasReading_csv_Excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

BIBLIOTECAS

In [ ]:
import pandas as pd

#tsks 1  : Merge the 12 months os sales data into a single CSV file

In [ ]:
df = pd.read_csv('/content/Pokemon.csv')
print(df.head())

   #                   Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1              Bulbasaur  Grass  Poison    318  45      49       49
1  2                Ivysaur  Grass  Poison    405  60      62       63
2  3               Venusaur  Grass  Poison    525  80      82       83
3  3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4  4             Charmander   Fire     NaN    309  39      52       43

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       65       65     45           1      False
1       80       80     60           1      False
2      100      100     80           1      False
3      122      120     80           1      False
4       60       50     65           1      False

Reading Data in Pandas

In [ ]:
#Read Headers
print(df.columns)
#Read each Column
print(df[['Name', 'Type 1', 'HP']])

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')
                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

In [ ]:
#Read Each Row
print(df.iloc[0:4])  # colalizando uma linha especifica

   #                   Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1              Bulbasaur  Grass  Poison    318  45      49       49
1  2                Ivysaur  Grass  Poison    405  60      62       63
2  3               Venusaur  Grass  Poison    525  80      82       83
3  3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       65       65     45           1      False
1       80       80     60           1      False
2      100      100     80           1      False
3      122      120     80           1      False

In [ ]:
#Read a specific Location (R,C)
print(df.iloc[2,1])

Venusaur

MAKING CHANGES TO THE DATA

In [ ]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed'] # adicionando uma coluna chamada total
#df.drop(columns = ['Total'])   #HOW TO DROP A COLUMN
df.head()  # mostrando apenas as 5 primeiras linhas

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [ ]:
45+49+49+65+65+45

318

In [ ]:
df['Total'] = df.iloc[:, 4:9].sum(axis=1)
print(df['Total'])

0       526
1       670
2       870
3      1050
4       503
       ...
795    1000
796    1180
797    1000
798    1150
799    1040
Name: Total, Length: 800, dtype: int64

In [ ]:
cols = list (df.columns)
df = df[cols[0:4] + [cols[-1]]+ cols[4:12]]

In [ ]:
df.head()

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,526,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,670,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,870,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,1050,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,False,503,39,52,43,60,50,65,1

SAVING OUR DATA (EXPORTING INTO DESIGREN FORMAT)

In [ ]:
#df.to_csv('modified.csv') # MODIFICAR UM CSV E SALVAR 
#df.to_excel('modified.xlsx', index = False)
df.to_csv('modified.txt', index = False, sep='\t')

Filtering Data

In [ ]:
df.loc[df['Type 1'] == 'Grass' ]  # achando um dado igual a um item especifico

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,526,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,670,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,870,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,1050,80,100,123,122,120,80,1
48,43,Oddish,Grass,Poison,False,545,45,50,55,75,65,30,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,False,543,56,61,65,48,45,38,6
719,651,Quilladin,Grass,NaN,False,695,61,78,95,56,58,57,6
720,652,Chesnaught,Grass,Fighting,False,921,88,107,122,74,75,64,6
740,672,Skiddo,Grass,NaN,False,591,66,65,48,62,57,52,6
741,673,Gogoat,Grass,NaN,False,913,123,100,62,97,81,68,6

In [ ]:
 new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] >70)] # cocalizar palavras ontem  é IGUAL a um item
 new_df.to_csv('filtered.csv')
 new_df = new_df.reset_index(drop=True, inplace =True)

In [ ]:
df.loc[df['Name'].str.contains('Mega')]  # filtra todas as colunas que contem a palavra Mega

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
3,3,VenusaurMega Venusaur,Grass,Poison,False,1050,80,100,123,122,120,80,1
7,6,CharizardMega Charizard X,Fire,Dragon,False,1083,78,130,111,130,85,100,1
8,6,CharizardMega Charizard Y,Fire,Flying,False,1053,78,104,78,159,115,100,1
12,9,BlastoiseMega Blastoise,Water,NaN,False,1067,79,103,120,135,115,78,1
19,15,BeedrillMega Beedrill,Bug,Poison,False,765,65,150,40,15,80,145,1
23,18,PidgeotMega Pidgeot,Normal,Flying,False,957,83,80,80,135,80,121,1
71,65,AlakazamMega Alakazam,Psychic,NaN,False,935,55,50,65,175,95,150,1
87,80,SlowbroMega Slowbro,Water,Psychic,False,1070,95,75,180,130,80,30,1
102,94,GengarMega Gengar,Ghost,Poison,False,975,60,65,80,170,95,130,1
124,115,KangaskhanMega Kangaskhan,Normal,NaN,False,980,105,125,100,60,100,100,1
137,127,PinsirMega Pinsir,Bug,Flying,False,1005,65,155,120,65,90,105,1
141,130,GyaradosMega Gyarados,Water,Dark,False,1069,95,155,109,70,130,81,1
154,142,AerodactylMega Aerodactyl,Rock,Flying,False,985,80,135,85,70,95,150,1
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,True,1330,106,190,100,154,100,130,1
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,True,1300,106,150,70,194,120,140,1
168,154,Meganium,Grass,NaN,False,870,80,82,100,83,100,80,2
196,181,AmpharosMega Ampharos,Electric,Dragon,False,1065,90,95,105,165,110,45,2
224,208,SteelixMega Steelix,Steel,Ground,False,1095,75,125,230,55,95,30,2
229,212,ScizorMega Scizor,Bug,Steel,False,1025,70,150,140,65,100,75,2
232,214,HeracrossMega Heracross,Bug,Fighting,False,1020,80,185,115,40,105,75,2
248,229,HoundoomMega Houndoom,Dark,Fire,False,995,75,90,90,140,90,115,2
268,248,TyranitarMega Tyranitar,Rock,Dark,False,1209,100,164,150,95,120,71,2
275,254,SceptileMega Sceptile,Grass,Dragon,False,1030,70,110,75,145,85,145,3
279,257,BlazikenMega Blaziken,Fire,Fighting,False,1080,80,160,80,130,80,100,3
283,260,SwampertMega Swampert,Water,Ground,False,1090,100,150,110,95,110,70,3
306,282,GardevoirMega Gardevoir,Psychic,Fairy,False,1001,68,85,65,165,135,100,3
327,302,SableyeMega Sableye,Dark,Ghost,False,825,50,85,125,85,115,20,3
329,303,MawileMega Mawile,Steel,Fairy,False,815,50,105,125,55,95,50,3
333,306,AggronMega Aggron,Steel,NaN,False,1130,70,140,230,60,80,50,3
336,308,MedichamMega Medicham,Fighting,Psychic,False,835,60,100,85,80,85,100,3
339,310,ManectricMega Manectric,Electric,NaN,False,935,70,75,80,135,80,135,3
349,319,SharpedoMega Sharpedo,Water,Dark,False,950,70,140,70,110,65,105,3
354,323,CameruptMega Camerupt,Fire,Ground,False,995,70,120,100,145,105,20,3
366,334,AltariaMega Altaria,Dragon,Fairy,False,995,75,110,110,110,105,80,3
387,354,BanetteMega Banette,Ghost,NaN,False,952,64,165,75,93,83,75,3
393,359,AbsolMega Absol,Dark,NaN,False,955,65,150,60,115,60,115,3
397,362,GlalieMega Glalie,Ice,NaN,False,980,80,120,80,120,80,100,3
409,373,SalamenceMega Salamence,Dragon,Flying,False,1190,95,145,130,120,90,120,3
413,376,MetagrossMega Metagross,Steel,Psychic,False,1180,80,145,150,105,110,110,3
418,380,LatiasMega Latias,Dragon,Psychic,True,1140,80,100,120,140,150,110,3
420,381,LatiosMega Latios,Dragon,Psychic,True,1170,80,130,100,160,120,110,3
426,384,RayquazaMega Rayquaza,Dragon,Flying,True,1345,105,180,100,180,100,115,3
476,428,LopunnyMega Lopunny,Normal,Fighting,False,929,65,136,94,54,96,135,4
494,445,GarchompMega Garchomp,Dragon,Ground,False,1213,108,170,115,120,95,92,4
498,448,LucarioMega Lucario,Fighting,Steel,False,1068,70,145,88,140,70,112,4
511,460,AbomasnowMega Abomasnow,Grass,Ice,False,1053,90,132,105,132,105,30,4
527,475,GalladeMega Gallade,Psychic,Fighting,False,1011,68,165,95,65,115,110,4
591,531,AudinoMega Audino,Normal,Fairy,False,914,103,60,126,80,126,50,5
796,719,DiancieMega Diancie,Rock,Fairy,True,1180,50,160,110,160,110,110,6

In [ ]:
 import re 
 df.loc[df['Name'].str.contains('fire | Grass',flags = re.I, regex = True)]

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Legendary, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation]
Index: []

CONDITINAL CHANGES

In [ ]:
df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True
df

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,526,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,670,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,870,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,1050,80,100,123,122,120,80,1
4,4,Charmander,Flamer,NaN,False,503,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,1000,50,100,150,100,150,50,6
796,719,DiancieMega Diancie,Rock,Fairy,True,1180,50,160,110,160,110,110,6
797,720,HoopaHoopa Confined,Psychic,Ghost,True,1000,80,110,60,150,130,70,6
798,720,HoopaHoopa Unbound,Psychic,Dark,True,1150,80,160,60,170,130,80,6
799,721,Volcanion,Flamer,Water,True,1040,80,110,120,130,90,70,6

CONDICIONAL CHANGES

In [ ]:
df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = 'TEST VALUE'
df

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,TEST VALUE,526,45,49,49,65,65,45,TEST VALUE
1,2,Ivysaur,Grass,Poison,TEST VALUE,670,60,62,63,80,80,60,TEST VALUE
2,3,Venusaur,Grass,Poison,TEST VALUE,870,80,82,83,100,100,80,TEST VALUE
3,3,VenusaurMega Venusaur,Grass,Poison,TEST VALUE,1050,80,100,123,122,120,80,TEST VALUE
4,4,Charmander,Flamer,NaN,TEST VALUE,503,39,52,43,60,50,65,TEST VALUE
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,TEST VALUE,1000,50,100,150,100,150,50,TEST VALUE
796,719,DiancieMega Diancie,Rock,Fairy,TEST VALUE,1180,50,160,110,160,110,110,TEST VALUE
797,720,HoopaHoopa Confined,Psychic,Ghost,TEST VALUE,1000,80,110,60,150,130,70,TEST VALUE
798,720,HoopaHoopa Unbound,Psychic,Dark,TEST VALUE,1150,80,160,60,170,130,80,TEST VALUE
799,721,Volcanion,Flamer,Water,TEST VALUE,1040,80,110,120,130,90,70,TEST VALUE

AGGREGATE STATISTICS (Groupby)

In [ ]:
df = pd.read_csv()

In [ ]:
df.groupby(['Type 1']).mean().sort_values('HP', ascending=False)  # classificando os HPs e filtrando por media e tipos

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Type 1,,,,,,,,
Dragon,474.375000,929.187500,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250
Normal,319.173469,668.091837,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020
Fairy,449.529412,693.058824,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235
Ground,356.281250,748.343750,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250
Water,303.089286,724.428571,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286
Ice,423.541667,727.166667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333
Flying,677.750000,795.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000
Psychic,380.807018,784.122807,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228
Flamer,327.403846,769.500000,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308
Fighting,363.851852,702.111111,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074
Grass,344.871429,709.928571,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571
Poison,251.785714,670.321429,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429
Dark,461.354839,745.806452,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290
Rock,392.727273,776.113636,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091
Steel,442.851852,839.518519,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259
Ghost,486.500000,738.312500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750
Electric,363.500000,728.613636,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000
Bug,334.492754,631.376812,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159

In [ ]:

df['count'] = 1
df.groupby(['Type 1']).count()['count'] # classificar e mostrar um contatdor de classificação na lista

WORKING WITH LARGE AMOUNTS OF DATA

In [ ]:
new_df = pd.DataFrame(columns = df.columns)

for df in pd.read_csv('/content/Pokemon.csv', chunksize=5):
  results = df.groupby(['Type 1']).count()

  new_df = pd.concat([new_df, results])
new_df